// Centrer les enfants
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Justify-contents Space-between
@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
